button {
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 0.32px;
  border: 1px solid #2D2C39;
  border-radius: 8px;
  padding: 1em 3em;
  background-color: #2D2C39;
  font-family: 'Inter';
}