a {
  color: #ffffff;
  text-decoration: none;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

.header {
  position: fixed;
  width: calc(100% - 4rem); /* fixar cabecalho */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.logo {
  flex: 1;
}

.logo a {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.025rem;
}

.nav {
  display: flex;
  flex: 1;
  gap: 2em;
}

.nav a {
  color: #8C8C8C;
}

.buttons {
  display: flex;
  flex: 1;
  gap: 1em;
  justify-content: flex-end;
}


.buttons button {
  color: #8C8C8C;
  padding: 1em 2em;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.ghost-button {
  border: 1px solid transparent !important;
}
/* header end */

.main {
  display: flex;
  align-items: center;
  padding: 2em;
  padding-top: 4em;
  gap: 4em;
}

.img_site img {
  display: flex;
  width: 90%;
  margin: auto;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.title {
  margin: 0;
  letter-spacing: 0.08rem;
  max-width: 30rem;
  font-size: 4rem;
}

.text_color1 {
  color: #F8AEDA;
}

.text_color2 {
  color: #11957D;
}

.paragraph {
  margin: 0;
  color: #8C8C8C;
  letter-spacing: 0.04rem;
  width: 28rem;
  font-size: 1.2rem;
}

.cta {
  margin-top: 1em;
}

.cta button {
  padding: 1em 2em;
  border: 1px solid #ffffff;
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
}
/* main end */
